{{- $imgFavIconIco := partial "cdn-src" (dict "Site" $.Site "Page" . "src" .Site.Params.image.faviconIco) -}}
{{- $imgFavIconAlt := partial "cdn-src" (dict "Site" $.Site "Page" . "src" .Site.Params.image.faviconAlt) -}}
{{- $imgAppIcon := partial "cdn-src" (dict "Site" $.Site "Page" . "src" .Site.Params.image.icon1To1) -}}
<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="robots" content="noodp,noydir">
  <meta name="pinterest" content="nopin">

  <link rel="icon" type="image/png" sizes="32x32" href="{{ $imgFavIconAlt }}">
  <link rel="icon" type="image/x-icon" href="{{ $imgFavIconIco }}">
  <link rel="apple-touch-icon" href="{{ $imgAppIcon }}">

  {{- with .Permalink }}
  <link rel="canonical" href="{{ . }}">
  {{- end }}
  {{- range .AlternativeOutputFormats }}
  {{ printf `<link rel="%s" type="%s" href="%s" hreflang="%s"/>` .Rel .MediaType.Type .Permalink $.Site.LanguageCode | safeHTML }}
  {{- end }}
  {{ partial "styles-app" . }}
  {{- partial "styles-type" . }}
  {{- partial "structured-data" . }}
  {{- partial "scripts-head" . }}
</head>
<body>
  {{ partial "header" . }}
  <main>
  {{- block "main" . }}{{ end }}
  </main>
  {{ partial "footer" . }}
  {{- partial "scripts-foot" . }}
</body>
</html>
