{{ define "main" }}
{{ $title := .Title | default (T .Section .) | default .Section | humanize -}}
<div class="default-section section-{{ .Section }}">
  <div class="ax-content ax-l-o">
    <div class="ax-l-i">
      <h1 class="section-title font-content-sans font-semibold uppercase tracking-wide text-2xl text-raven-800">{{- $title -}}</h1>

      {{- with .Content }}
      <article class="cdata mt-8">
        {{ . }}
      </article>
      {{- end }}

      {{- range .Paginator.Pages }}
      <div class="mt-8">
        {{ .Render "summary" }}
      </div>
      {{- end }}
      {{- partial "paginator" . -}}
      {{- partial "adsense" . }}
    </div>
  </div>
</div>
{{ end }}
