{{ define "main" }}
<div class="default-single">
  <div class="ax-header ax-l-o">
    <div class="ax-l-i">
      <h1 class="post-title font-content-title font-normal leading-tight tracking-default text-40">{{ .Title }}</h1>
      {{- if .Params.subtitle }}
      <p class="post-subtitle font-content-sans font-light text-xl text-raven-500 mt-3">{{- partial "meta-subtitle" . | safeHTML -}}</p>
      {{- end }}

      <div class="ax-meta flex items-center mt-5">
        <div class="flex-grow min-w-0">
          {{ partial "author" . }}
        </div>
        <div>
          {{ partial "share" . }}
        </div>
      </div>
    </div>
  </div>

  {{- if .Params.feature }}
  <div class="ax-feature ax-l-o">
    <div class="ax-l-i">
      {{- partial "feature" . }}
    </div>
  </div>
  {{- end -}}

  <div class="ax-content ax-l-o">
    <div class="ax-l-i">
      <article class="cdata">
      {{- partial "toc" . }}
      {{- .Content }}
      </article>
      {{ partial "adsense" . }}
    </div>
  </div>
</div>
{{ end }}
