{{- $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006 3:04PM" -}}
<div class="summary sm:flex">
  {{- if .Params.feature }}
  {{- $imgSrc := partial "cdn-src" (dict "Site" $.Site "Page" . "src" .Params.feature "preset" "summary") }}
  <div class="summary-image sm:flex-shrink-0 mb-4 sm:mb-0 sm:mr-10">
    <a class="block" href="{{ .RelPermalink }}"><img
    class="sm:w-40 sm:h-40 mx-auto object-cover"
    src="{{ $imgSrc }}"
    alt="{{ .Title }}"></a>
  </div>
  {{- end }}
  <div class="summary-content font-content-sans">
    <a class="summary-title block font-semibold leading-tightly tracking-tightly text-2xl text-raven-800 hover:text-raven-900" href="{{ .RelPermalink }}">{{ .Title }}</a>
    <a class="summary-excerpt mt-2 block font-normal leading-tight tracking-normal text-base text-raven-500 hover:text-raven-600" href="{{ .RelPermalink }}">
      {{- partial "meta-subtitle" . | safeHTML | truncate 175 "..." -}}
    </a>
    <aside class="summary-meta mt-6 font-normal leading-snug tracking-normal text-sm text-raven-500"><time datetime="{{ dateFormat "2006-01-02T15:04:05Z" .Date.UTC | safeHTML }}">{{ dateFormat $dateFormat .Date.Local }}</time></aside>
  </div>
</div>
