{{ define "main" }}
{{- $taxonomy := .Data.Singular -}}
{{- $title := printf "%s%s %s" (T $taxonomy | default  (humanize $taxonomy)) ":" .Title -}}
<div class="default-taxonomy">
  <div class="ax-content ax-l-o">
    <div class="ax-l-i">
      <h1 class="section-title font-content-sans font-semibold uppercase tracking-wide text-2xl text-raven-800">{{ $title | safeHTML }}</h1>

      {{- range .Paginator.Pages }}
      <div class="mt-8">
        {{ .Render "summary" }}
      </div>
      {{- end }}
      {{- partial "paginator" . -}}
    </div>
  </div>
</div>
{{ end }}
