{{- $provider := .Site.Params.cdn.provider | default "local" }}
{{- $preset := index .Site.Params $provider "presets" .preset | default "" }}
{{- $type := .type | default .Site.Params.cdn.type }}
{{- $src := .src | default "" }}
{{- $resource := "" }}

{{- $uri := urls.Parse $src }}
{{- if $uri.Scheme }}
  {{- $resource = $src | safeURL }}
{{- else }}

  {{/* default: params.cdn.provider = local */}}
  {{- $resource = $src | relURL }}

  {{- if eq "cloudinary" $provider }}
    {{- $type = index .Site.Params.cloudinary $type }}
    {{- $resource = printf "%s%s%s%s%s" .Site.Params.cloudinary.host $type $preset .Site.Params.cloudinary.version $src }}
  {{- end }}
{{- end -}}

{{ return $resource }}
