<header id="nav" class="header">
  <div class="ax-l-i">
    <div class="ax-logo">
      {{- $logo := printf `<span class="font-semibold text-raven-900">%s</span>` .Site.Title }}
      {{- if (and (reflect.IsMap .Site.Params.logo) (isset .Site.Params.logo "path") (isset .Site.Params.logo "inline")) }}
        {{- $logoPath := .Site.Params.logo.path -}}
        {{- $logoInline := .Site.Params.logo.inline -}}
        {{- with $logoPath }}
          {{- if eq $logoInline true }}
            {{- $logoPath := printf "%s%s" "/static/" (trim $logoPath "/") -}}
            {{- $logo = chomp (readFile $logoPath) }}
          {{- else }}
            {{- $logoSrc := partial "cdn-src" (dict "Site" $.Site "Page" . "src" $logoPath) }}
            {{- $logo = printf `<img src="%s" alt="%s">` $logoSrc $.Site.Title }}
          {{- end }}
        {{- end }}
      {{- end }}
      <a class="block" href="{{ "/" | relLangURL }}" title="{{ .Site.Title }}">{{- $logo | safeHTML -}}</a>
    </div>
    <div class="ax-user">
      <a class="p-2 w-7 h-7 block text-raven-500 hover:text-gray-800 focus:text-gray-800 focus:outline-none" target="_blank" rel="noopener nofollow" href="https://www.google.com/search?q=site:{{ .Site.Params.brand.domain | default .Site.BaseURL }}">
        {{ partial "svg/search.svg" (dict "class" "fill-current") }}
      </a>
      {{- $currentPage := . }}
      {{- range (.Site.Menus.main) }}
      {{- $isCurrent := (eq (trim $currentPage.RelPermalink "/") (trim .URL "/")) }}
      <a class="p-2 block text-sm leading-none{{ if $isCurrent }} text-gray-500 cursor-not-allowed{{ else }} text-raven-500 hover:text-gray-800 focus:text-gray-800 focus:outline-none{{ end }}"{{ if not $isCurrent }} href="{{ .URL | relLangURL }}"{{ end }}>
        {{ .Name }}
      </a>
      {{- end }}
    </div>
  </div>

  {{/* menu-mobile */}}
</header>
