{{- $appJS := resources.Get "app.js" }}
{{- $customJS := resources.Get "custom.JS" }}
{{- $slice := slice $appJS }}
{{- if $customJS }}
{{- $slice = $slice | append ($customJS | resources.Minify) }}
{{- end }}
{{- $bundleJS := $slice | resources.Concat "bundle.js" }}
{{- $bundleJS = printf "%s?v=%d" $bundleJS.RelPermalink now.Unix }}
<script src="{{ $bundleJS | safeHTML }}"></script>

{{- with resources.Get "prism.js" }}
<script defer src="{{ printf "%s?v=%d" .RelPermalink now.Unix | safeHTML }}"></script>
{{- end }}

{{- with .Site.Params.services.adsenseId }}
{{- $adsbygoogle := "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" -}}
{{- if eq $.Site.Params.services.adsenseLazy true }}
<script>
(function() {
  window.setTimeout(function(){
    var gAds = document.createElement("script");
    gAds.setAttribute("defer", "defer");
    gAds.setAttribute("data-ad-client", "{{ . }}");
    gAds.src = {{ $adsbygoogle }};
    document.body.appendChild(gAds);
  }, 2000);
})();
</script>
{{- else }}
<script data-ad-client="{{ . }}" async src="{{ $adsbygoogle }}"></script>
{{- end }}
{{- end }}

{{- with .Site.Params.services.facebookPixel }}
<script>
(function() {
  window.setTimeout(function(){
    var fbPixel = document.createElement("img");
    fbPixel.setAttribute("width", "1");
    fbPixel.setAttribute("height", "1");
    fbPixel.setAttribute("style", "display:none");
    fbPixel.src = "https://www.facebook.com/tr?id={{ . }}&amp;ev=PageView";
    document.body.appendChild(fbPixel);
  }, 1750);
})();
</script>
{{- end -}}
