{{- $appJS := resources.Get "app.js" }}
{{- $customJS := resources.Get "custom.js" }}
{{- $slice := slice $appJS }}
{{- if $customJS }}
{{- $slice = $slice | append ($customJS | resources.Minify) }}
{{- end }}
{{- $bundleJS := $slice | resources.Concat "bundle.js" }}
{{- $bundleJS = printf "%s?v=%d" $bundleJS.RelPermalink now.Unix }}
<script src="{{ $bundleJS | safeHTML }}"></script>

{{- with .Site.Params.services.adsenseId }}
{{- $adsbygoogle := "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" -}}
{{- if eq $.Site.Params.services.adsenseLoad "lazy" }}
<script>
(function() {
  window.setTimeout(function() {
    var d = document, ads = d.createElement('script');
    ads.src = {{ $adsbygoogle }};
    ads.setAttribute("defer", "");
    ads.setAttribute("data-ad-client", "{{ . }}");
    d.body.appendChild(ads);
  }, 2000);
})();
</script>
{{- else }}
<script {{ $.Site.Params.services.adsenseLoad | default "async" | safeHTMLAttr }} data-ad-client="{{ . }}" src="{{ $adsbygoogle }}"></script>
{{- end }}
{{- end }}

{{- with .Site.Params.services.facebookPixel }}
<script>
(function() {
  window.setTimeout(function(){
    var d = document, fb = d.createElement("img");
    fb.src = "https://www.facebook.com/tr?id={{ . }}&amp;ev=PageView";
    fb.setAttribute("width", "1");
    fb.setAttribute("height", "1");
    fb.setAttribute("style", "display:none");
    d.body.appendChild(fb);
  }, 1750);
})();
</script>
{{- end -}}
