/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

/* purgecss start ignore */
@import "global";
@import "theme";
@import "cdata";
@import "syntax";
/* purgecss end ignore */
