/* theme */
/* see end for @screen sm */
/* logo */
.ax-logo {
  & img,
  & svg {
    @apply h-7 w-auto;
  }
}

/* layout outer */
.ax-l-o {
  @apply flex justify-center;
}

/* layout inner, gutter = mx-4 */
.ax-l-i {
  @apply flex-grow min-w-0 mx-4 mt-8;
}

.header {
  @apply relative shadow-b bg-white py-4 flex justify-center;
  & > .ax-l-i {
    @apply flex items-center mt-0;
  }

  & .ax-logo {
    @apply flex-1;
  }

  & .ax-user {
    @apply flex items-center ml-auto;
  }
}

.footer {
  @apply flex justify-center border-t border-gray-200 bg-white mt-8 py-6;
  & > .ax-l-i {
    @apply mt-0;
  }
}

/* titles */
/* <h1>:main-headline, title */
/* ff: title, fs: 40px (2.5rem), fw: 400, lh: 48px (1.2), ls: normal */
h1.page-title, h1.post-title {}
h1.section-title {}
p.post-subtitle {}

/* <hr> */
.hr-fade {
  @apply h-px;
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.24), rgba(0,0,0,0));
  border: 0;
}

@screen sm {
  .ax-logo {
    & img,
    & svg {
      @apply h-8;
    }
  }

  /* layout inner gutter */
  .ax-l-i {
    @apply mx-8;
  }
}
