/* tools */
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}

.table-responsive {
  @apply block w-full overflow-x-auto scrolling-touch;

  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    @apply hidden;
  }
}
