{{- $text := "" -}}
{{- $type := "" -}}
{{- $icon := "" -}}
{{- $href := "" -}}
{{- if .IsNamedParams }}
{{- $text = .Get "text" -}}
{{- $type = .Get "type" -}}
{{- $icon = .Get "icon" -}}
{{- $href = .Get "href" -}}
{{- else }}
{{- $text = .Get 0 -}}
{{- $type = .Get 1 -}}
{{- $icon = .Get 2 -}}
{{- $href = .Get 3 -}}
{{- end }}
{{- if not $text }}
{{- errorf "Missing required 'text'. Shortcode: 'button'." -}}
{{- end }}
{{- partial "button" (dict "Site" $.Site "Page" . "text" $text "type" $type "icon" $icon "href" $href) -}}
